body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
}
#status {
  /* avoid an excessively wide status text */
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
  min-width: 300px;
}
p{
  font-size:7px;
}
h4{
  color: #0077e5;
}
code.cd-ext {
    color: #c25;
    background-color: #f7f7f9;
    border-radius:1.3em;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    border: 1px solid #e1e1e8;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}