code.cd-ext {
  background-color: #eaeaea;
  border-radius: 0.3em;
  color: #505050;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0.2em;
  margin-right: 0.2em;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}
